/* GENERAL */
* {
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS';
}
:root{
    --color-1st: #062914;
    --color-2nd: #2d7825;
    --color-3rd: #8EC247;
    --color-4th: #4fe8c2;
    --color-5th: #e7ffe4;
    --color-6th: #fff;
    --color-ft1: #fff;
    --color-ft2: #062914;
}
::selection{
    background-color: var(--color-4th);
}


/* DOCUMENT */
html{
    scroll-behavior: smooth;
    font-size: 20px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: var(--color-6th);

}
header{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
    height: 10vh;
}
main{
    display: flex;
    flex-direction: column;
    width: clamp(0px,100%,150vh);
    margin: auto;
    color: var(--color-ft2);
    overflow: hidden;
}
header, footer {
    user-select: none;
    width: 100%;
    background-color: var(--color-1st);
}
button {
    color: var(--color-ft1) !important;
    text-align: center !important;
}
button > * {
    color: var(--color-ft2);
}
h1, h2{
    color: var(--color-2nd) !important;
}
img{
    user-select: none;
}
a{
    text-decoration: none;
    color: var(--color-ft1);
}
li {
    list-style-type: ">";
}
li::marker{
    color: var(--color-3rd);
    font-weight: bolder;
}
/* HEADER */
#title-menu{
    height: 3em;
}
#header-space{
    height: 10vh;
    width: 100%;
}

#page-overlay{
    pointer-events: none;
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100%;
    background-color: var(--color-1st);
    opacity: 0;
    transition: 0.5s;
}
#page-overlay.active{
    pointer-events: auto;
    opacity: 0.6;
}

#page-menu{
    position: fixed;
    z-index: 1200;
    left: -40vh;
    width: 40vh;
    height: 100%;
    background-color: var(--color-2nd);
    transition: 0.5s;
}
#page-menu.active{
    left: 0;
}
#page-menu > ul{
    display: flex;
    margin: 5vh 0;
    flex-direction: column;
    gap: 5vh;
}

#page-dropdown > ul{
    pointer-events: none;
    display: flex;
    flex-direction: column;
    position:absolute;
    gap: 2vh;
    top: 10vh;
    right: 0;
    width: 22vh;
    margin: 0;
    padding: 3vh 1vh;
    border: 0.1em solid var(--color-1st);
    border-radius: 2vh;
    background-color: var(--color-3rd);
    transition: 0.2s;
    opacity: 0;
}
#page-dropdown:hover > ul{
    pointer-events: all;
    opacity: 1;
}
.fade-out{
    animation: fadeout 1s forwards;
    animation-delay: 2s;
}
#cart-output{
    position: absolute;
    top: 25vh;
    right: 0;
    color: var(--color-ft1);
    text-shadow:
        0.1em 0.1em 0.1em var(--color-ft2),
        0 0 0.1em var(--color-ft2);
    transition: 5s;
}
/* MAIN */
main > *{
    margin: 2vh 5vw;
    width: calc(100% - 10vw);
}
#btn-return-top{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    bottom: 1vw;
    right: 1vw;
    border-radius: 40% !important;
    animation: dissapear both, fadeout reverse;
    animation-timeline: scroll(root);
    animation-range: 0px 130px;
}

/* FOOTER */

footer * {
    color: var(--color-ft1);
    text-align: left;
    padding: 0.5em 0;
}
footer nav.flex-section{
    flex-wrap: wrap;
}
footer > section > section {
    padding: 1em;
    flex:1;
    text-align: left;
}
#footer-list > li{
    padding: 0 1em;
}
#footer-end {
    padding: 0 !important;
    height: 10vh;
    align-items: center;
    flex-wrap: nowrap;
}
#footer-end > :not(button){
    overflow: hidden;
}
/* common elements */
.logo{
    height: 2em;
}
.page-btn{
    cursor: pointer;
    border: 1px solid var(--color-ft1);
    border-radius: 0.5em;
    padding: 0.5em;
    background: none;
    color: var(--color-ft1);
    transition: 0.3s;
}
.header-btn {
    border: none;
    aspect-ratio: 1;
}
.page-a{
    display: inline-block;
    transition: 0.3s;
}
.page-a:hover, .page-btn:hover{
    scale: 1.2;
}

.flex-section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-centered{
    align-items: center !important;
}
.flex-centered > h2 {
    text-align: center;
}
.flex-reverse{
    flex-direction: row-reverse;
}
.flex-column{
    flex-direction: column;
    flex-wrap: nowrap;
}
.flex-between{
    justify-content: space-between;
}
.flex-child{
    flex: 1;
}

.grid-section{
    display: grid;
    min-height: 5em;
}

.grid-1-1 > *{
    margin: 1vh;
    aspect-ratio: 1;
    transition: 0.3s;
}
.grid-1-1 > button:hover{
    scale: 1.1;
}

.card{
    display: flex;
    background: var(--color-5th);
    color: var(--color-ft2);
    border: solid 0.5vh var(--color-2nd);
    border-radius: 2vh;
    overflow:hidden;
    transition: 0.3s;
}
.card * {
    text-align: left;
}
.card h1 {
    color: var(--color-ft2);
}

.card-1 {
    border: solid 1px var(--color-2nd);
}
.card-1 > .div-info{
    display: flex;
    margin: 2% 5%;
    gap: 3vw;
}
.card-1 > .div-info > .div-txt{
    width: 70%;
    overflow-wrap: break-word;
}
.card-1 > .div-info > .div-txt > * {
    margin: 0.5vh 0;
}
.card-1 > .div-img{
    width: 60%;
    position: relative;
    overflow: hidden;
    opacity: 0.8;
}

.card-2{
    border: dotted 0.7vh var(--color-2nd);   
}
.card-3{
    border: solid 0.5vh var(--color-2nd);
    border-radius: 0;
    border-left: dashed 0.5vh var(--color-2nd);
    border-right: dashed 0.5vh var(--color-2nd);
}
.card-2 > * , .card-3 > *{
    margin: 0.7em;
}

.card-4{
    border-radius: 2em;
    padding: 1em;
    margin: 0.2em;
}

.div-img-normal{
    border-radius: 0 20% 7.5% 0 / 0 100% 100% 0;
}
.div-img-reverse{
    border-radius: 20% 0 0 7.5% / 100% 0 0 100%;
}
.div-img > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--color-2nd);
    transition: 0.3s;
}
.div-img > img:hover{
    scale: 1.08;
}

.icon{
    height: 5em;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    border-radius: 50%;
}
.icon > *{
    font-size: 3em !important;
    aspect-ratio: 1;
    height: 80%;
    padding: 0 !important;
    background-color: var(--color-ft1);
    mask-image: url("/EcoCine/src/iconos.png");
    mask-size: 400% 400%;
}
#icon-cart {mask-position: 0 0;}
#icon-lines {mask-position: -1.35em 0;}
#icon-theme {mask-position: -2.7em 0;}
#icon-arrow {mask-position: -4.05em 0;}
#icon-movie {mask-position: 0 -1.35em;}
#icon-cine {mask-position: -1.35em -1.35em;}
#icon-dulceria {mask-position: -2.6em -1.35em;}
#icon-promos {mask-position: -3.95em -1.30em;}
#icon-ig {mask-position: 0 -2.7em;}
#icon-fb {mask-position: -1.35em -2.7em;}
#icon-tk {mask-position: -2.7em -2.7em;}
#icon-yt {mask-position: -4.05em -2.7em;}

.bg-1{background-color: var(--color-1st);}
.bg-2{background-color: var(--color-2nd);}
.bg-3{background-color: var(--color-3rd);}
.bg-5{background-color: var(--color-5th);}


/* INDEX CONTENT*/
#banner{
    width: 100%;
    aspect-ratio: 3;
}
#banner > div{
    position: absolute;
    top: 10vh;
    z-index: 800;
    width: 100%;
    opacity: 0.8;
    aspect-ratio: 3;
    background: linear-gradient(
        to bottom,
        var(--color-1st) 0%,
        transparent 10%,
        transparent 30%,
        var(--color-1st) 100%);
}
#banner > img{
    width: 100%;
    opacity: 0.8;
}

#top-movies {
    margin: 0;
    overflow: hidden;
    padding: 2vh;
    width: calc(100% - 4vh);
    background-color: var(--color-5th);
}
.btn-movie{
    cursor: pointer;
    margin: 1vh;
    aspect-ratio: 2/3;
    flex: 1;
    padding: 0;
    border: none;
    background-color: var(--color-3rd); /*edit*/
    transition: 0.3s;
}
.btn-movie:hover{
    scale: 1.08;
}
.btn-movie > img {
    width: 100%;
    height: 100%;
}


/* PELICULA */
#grid-movie{
    min-height: 70vh;
}
#grid-movie > *{
    text-align: left;
    margin: 0.5vh;
}
#grid-movie > h1{
    grid-area: title;
}
#grid-movie > img{
    grid-area: poster;
    background-color: var(--color-3rd);
}
#grid-movie > h4{
    grid-area: desc;
}
#table-hor{
    grid-area: hor;
    background-color: var(--color-1st);
    border-radius: 1em;
    border: solid 0.2vh var(--color-1st);
    overflow: hidden;
}
#table-hor thead{
    background-color: var(--color-2nd);
    color: var(--color-ft1);
    height: 3em;
}
#table-hor td:nth-child(odd){
    background-color: var(--color-3rd);
}
#table-hor td:nth-child(even){
    background-color: var(--color-5th);
}
#table-hor tr{
    height: 14.8%;
}
/* CINES */
.card-img {
    padding: 0;
    overflow: hidden;
}
.card-img img{
    border-radius: 2vh;
    width: 100%;
    height: 100%;
    background-color: var(--color-3rd);
} 
.card-img h2{
    color: var(--color-ft1) !important;
    position:relative;
    align-self: center;
    bottom: 3em;
    padding: 1em 0;
    background-color: rgb(from var(--color-1st) r g b / 0.7);
}
/* BOLETERIA*/
#grid-seats{
    background-color: var(--color-5th);
    border: solid 0.5vh var(--color-1st);
    border-radius: 1em;
    overflow: hidden;
    aspect-ratio: 1 ;
    grid-template-columns: repeat(15,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 2% 1%;
}
#cinema, #cinema-space{
    grid-column: 1/-1;
    aspect-ratio: initial;
}
#grid-seats > div{
    background-color: var(--color-2nd);
    pointer-events: none;
}
#grid-seats > button {
    background-color: var(--color-3rd);
}
#grid-seats > button.active {
    background-color: var(--color-4th);
}
#cinema-space{
    background: none !important;
}
#boleteria-info {
    flex-direction: column;
}
#boleteria-info > *{
    color: var(--color-ft2);
    margin: 0 10%;
}

/* DULCERIA */
.card.active{
    background-color: var(--color-3rd);
}
.grid-dulceria img{
    aspect-ratio: 5/4;
    border-radius: 2vh;
    margin: 0.5em;
    background-color: var(--color-3rd);
} 
.grid-dulceria *{
    text-align: center;
}
/* PROMOS */
#grid-promos > :first-child{
    grid-row: span 2;
    grid-column: span 2;
}
#flex-promos *{
    margin: 0.2em;
}
/* PAGAR */
#table-cartlist{
    min-height: 5em;
    background-color: var(--color-3rd);
}
#table-cartlist tr > * {
    border: 0.2rem solid var(--color-1st);
    height: 3em;
    font-size: 1rem;
}
#table-cartlist tr > th:first-child, #table-cartlist > td:first-child{
    width: 50%;
}
#table-cartlist button {
    background-color: var(--color-2nd);
    font-size: 2.2em;
}
#promo-input{
    width: 12em;
}
#promo-submit{
    color: var(--color-ft2);
}
/* CONTACTANOS */
#mapa > iframe{
    width: 80%;
    aspect-ratio: 3/2;
}
/* ACERCA DE NOSOTROS */
#about-us *, #nuestra-esencia *, #nuestro-compromiso *{
    padding: 0.5em 1em;
}
#about-us {
    background: url("/EcoCine/acerca-de-nosotros/src/aboutus.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 4em;
}
#about-us *{
    color: var(--color-ft1);
}
#about-us > section {
    width: 40%;
    
}
#about-us-logo{
    width: 60%;
}
#nuestra-esencia-flex > *{
    max-width: 20%;
}
#nuestro-compromiso {
    background: var(--color-1st);
    margin: 1em;
    border-radius: 2em;
}
#nuestro-compromiso * {
    color:var(--color-ft1);
}


/* HORIZONTALL */
@media (min-aspect-ratio: 4/5) {
    html{
        font-size: 100%;
    }
    .card-1 > .div-info{
        width: 40%;
    }
    .grid-section{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #grid-movie{
        grid-template-columns: 1fr 2fr !important;
        grid-template-rows: 0.5fr 1.5fr 3fr;
        grid-template-areas:
            "poster title"
            "poster desc"
            "hor hor";
    }
}
/* VERTICAL */
@media (max-aspect-ratio: 4/5) {
    html{
        font-size: 200%;
    }
    .card-1 > .div-info{
        width: 70%;
    }
    .grid-section{
        grid-template-columns: 1fr 1fr;
    }
    #grid-movie{
        grid-template-columns: 1fr !important;
        grid-template-rows: 0.5fr 2fr 3fr 3fr;
        grid-template-areas:
            "title"
            "poster"
            "desc"
            "hor";
    }
    #flex-boleteria{
        flex-direction: column;
    }
}

@keyframes fadeout {
    0%{ opacity: 1;}
    100% {opacity: 0;}
}

@keyframes dissapear {
    from{pointer-events: none; visibility: hidden;}
    to{pointer-events: all; visibility:visible;}
}