/* GENERAL */
* {
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS';
}
:root{
    --color-1st: #72b2a1;
    --color-2nd: #abd58b;
    --color-3rd: #d5fcb6;
    --color-4th: rgb(from var(--color-1st) 0 calc(255 - g) calc(255 - b));
    --color-ft1: #fff;
    --color-ft2: #000;
}
::selection{
    background-color: var(--color-4th);
}


/* DOCUMENT */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
    font-size: 2.2em;
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200vh;
    background-color: var(--color-3rd);
}
footer{
    justify-content: space-around;
}
header, footer {
    display: flex;
    align-items: center;
    user-select: none;
    width: 100%;
    height: 10vh;
    background-color: var(--color-1st);
}


/* PAGE CONTENT */
#title-menu{
    font-family: "Pacifico";
    font-weight: normal;
}
#header-space{
    height: 10vh;
    width: 100%;
}
#page-overlay{
    pointer-events: none;
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100%;
    background-color: var(--color-1st);
    opacity: 0;
    transition: 0.5s;
}
#page-overlay.active{
    pointer-events: auto;
    opacity: 0.6;
}
#page-menu{
    position: fixed;
    z-index: 1200;
    left: -40vh;
    width: 40vh;
    height: 100%;
    background-color: var(--color-2nd);
    transition: 0.5s;
}
#page-menu.active{
    left: 0;
}

.icon {
    font-size: 1em;
}
.page-btn{
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    color: var(--color-ft1);
    transition: 0.3s;
}
.page-a{
    color: var(--color-ft1);
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}
.page-a:hover, .page-btn:hover{
    scale: 1.2;
}
.page-list{
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
li::marker{
    color: var(--color-1st);
}

/* INDEX CONTENT*/
#banner{
    width: 100%;
    aspect-ratio: 3;
    background-color: var(--color-3rd);
}
#banner-fade{
    position: absolute;
    top: 10vh;
    z-index: 800;
    width: 100%;
    aspect-ratio: 3;
    background: linear-gradient(to bottom,transparent 0%, transparent 30%, var(--color-3rd) 100%);
}
#banner-img{
    width: 100%;
    opacity: 0.7;
}

#card-movies{
    aspect-ratio: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-child{
    margin: 5vh;
    width: calc(100% - 10vh);
}
.card{
    aspect-ratio: 2.5;
    background: var(--color-2nd);
    border: dashed 0.5vh var(--color-1st);
    border-radius: 2vh;
}

/* HORIZONTALL */
@media (min-aspect-ratio: 4/5) {
    html{
        font-size: 100%;
    }
}
/* VERTICAL */
@media (max-aspect-ratio: 4/5) {
    html{
        font-size: 200%;
    }
}